* {
    primary: #ffb4ac;
    primary-fixed: #ffdad6;
    primary-fixed-dim: #ffb4ac;
    on-primary: #690007;
    on-primary-fixed: #410003;
    on-primary-fixed-variant: #93000e;
    primary-container: #93000e;
    on-primary-container: #ffdad6;
    secondary: #f5b9a1;
    secondary-fixed: #ffdbcd;
    secondary-fixed-dim: #f5b9a1;
    on-secondary: #4b2716;
    on-secondary-fixed: #321204;
    on-secondary-fixed-variant: #663c2a;
    secondary-container: #663c2a;
    on-secondary-container: #ffdbcd;
    tertiary: #fbb983;
    tertiary-fixed: #ffdcc2;
    tertiary-fixed-dim: #fbb983;
    on-tertiary: #4d2700;
    on-tertiary-fixed: #2e1500;
    on-tertiary-fixed-variant: #693c10;
    tertiary-container: #693c10;
    on-tertiary-container: #ffdcc2;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1e100e;
    on-surface: #f9dcd9;
    on-surface-variant: #dbc0bd;
    outline: #a38b89;
    outline-variant: #554240;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f9dcd9;
    inverse-on-surface: #3d2c2a;
    inverse-primary: #c00016;
    surface-dim: #1e100e;
    surface-bright: #473533;
    surface-container-lowest: #180b09;
    surface-container-low: #271816;
    surface-container: #2b1c1a;
    surface-container-high: #362624;
    surface-container-highest: #42302f;
}
