* {
    primary: #6ad3ff;
    primary-fixed: #bee9ff;
    primary-fixed-dim: #6ad3ff;
    on-primary: #003546;
    on-primary-fixed: #001f2a;
    on-primary-fixed-variant: #004d65;
    primary-container: #004d65;
    on-primary-container: #bee9ff;
    secondary: #aec9e6;
    secondary-fixed: #cde5ff;
    secondary-fixed-dim: #aec9e6;
    on-secondary: #163349;
    on-secondary-fixed: #001d32;
    on-secondary-fixed-variant: #2e4961;
    secondary-container: #2e4961;
    on-secondary-container: #cde5ff;
    tertiary: #afc7f8;
    tertiary-fixed: #d7e2ff;
    tertiary-fixed-dim: #afc7f8;
    on-tertiary: #163059;
    on-tertiary-fixed: #001b3f;
    on-tertiary-fixed-variant: #2e4771;
    tertiary-container: #2e4771;
    on-tertiary-container: #d7e2ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0a151a;
    on-surface: #d9e4eb;
    on-surface-variant: #bdc8cf;
    outline: #879299;
    outline-variant: #3e484e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #d9e4eb;
    inverse-on-surface: #283237;
    inverse-primary: #006685;
    surface-dim: #0a151a;
    surface-bright: #303b40;
    surface-container-lowest: #061014;
    surface-container-low: #131d22;
    surface-container: #172126;
    surface-container-high: #212b31;
    surface-container-highest: #2c363c;
}
