* {
    primary: #00e637;
    primary-fixed: #73ff6f;
    primary-fixed-dim: #00e637;
    on-primary: #003906;
    on-primary-fixed: #002202;
    on-primary-fixed-variant: #00530d;
    primary-container: #00530d;
    on-primary-container: #73ff6f;
    secondary: #a9d0b4;
    secondary-fixed: #c4eccf;
    secondary-fixed-dim: #a9d0b4;
    on-secondary: #143723;
    on-secondary-fixed: #002110;
    on-secondary-fixed-variant: #2b4e39;
    secondary-container: #2b4e39;
    on-secondary-container: #c4eccf;
    tertiary: #91d4bd;
    tertiary-fixed: #adf0d9;
    tertiary-fixed-dim: #91d4bd;
    on-tertiary: #00382b;
    on-tertiary-fixed: #002018;
    on-tertiary-fixed-variant: #005140;
    tertiary-container: #005140;
    on-tertiary-container: #adf0d9;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0e150c;
    on-surface: #dce5d6;
    on-surface-variant: #c0c9ba;
    outline: #8a9386;
    outline-variant: #41493e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dce5d6;
    inverse-on-surface: #2b3328;
    inverse-primary: #006e15;
    surface-dim: #0e150c;
    surface-bright: #333b30;
    surface-container-lowest: #091007;
    surface-container-low: #161e14;
    surface-container: #1a2218;
    surface-container-high: #242c22;
    surface-container-highest: #2f372c;
}
