@import "/home/xubm/.cache/wal/colors.scss";

window {
    background-color: transparent;
}

.cava-container {
    background-color: transparent;
}

.cava-bar {
    background-image: linear-gradient(to top, $color4, $color6); 
    
    border-radius: 6px; 
    min-height: 3px; 
    transition: 40ms linear min-height; 
}
