@import "/home/xubm/.cache/wal/colors.scss";

window {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.cava-container {
    background-color: transparent;
}

.cava-bar {
    background-image: linear-gradient(to top, $color4, $color6); 
    min-height: 3px;
    transition: 40ms linear min-height; 
}
