@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

window {
    margin: 0px;
    padding: 15px;
    border-radius: 12px;

    background-color: alpha(surface, 1);
    border: 2px solid primary;
}

#input {
    margin-bottom: 12px;
    padding: 10px;

    border-radius: 8px;
    border: none;

    background-color: alpha(surface_container, 1);
    color: on_surface;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 0px;
}

#entry {
    padding: 10px;
    margin: 4px;
    border-radius: 8px;

    background-color: transparent;
}

#entry:selected {
    background-color: primary;
    color: on_primary;
}

#text {
    color: on_surface;
}

#img {
    margin-right: 10px;
}
